<footer class="footer pt-6 pb-5 bg-dark text-white">
        <div class="container position-relative">    
            <div class="row">
                <div class="col-2 col-md-2 mb-5 mb-lg-0">
                    <ul class="footer-links mt-2">
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/about.html">Projects</a></li>
                        <li><a href="/about.html">Roadmap</a></li>
                        <li><a href="/about.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-6 mb-5 mb-lg-0" align="center">
                    <p>"Thank you for taking the time to visit our website. We hope you were able to find what you were looking for. If you have any additional questions, please do not hesitate to reach out to us. We would be delighted to have a professional discussion."</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://www.facebook.com/themesberg/" class="icon-white me-2"
                                aria-label="linkedin social link">
                                <span class="fab fa-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/themesberg" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-info">
                        <span class="me-1">
                            <span class="fas fa-headphones"></span>
                        </span>
                        Contact Us
                    </a>
                </div>
                <div class="col-4 col-md-4 mb-5 mb-lg-0">
                    <a href="" class="d-flex justify-content-center mb-3">
                        <img id="footer-logo-ns" src="/static/assets/img/brand/dark.png" class="me-2" alt="Themesberg Logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>