
<div class="preloader bg-dark flex-column justify-content-center align-items-center">

    <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="300" height="200" viewBox="0 0 300 200">

        <circle r="20" cy="156.98492" cx="158.54272" stroke-width="5" stroke="#00ff78" fill="none"/>
        <circle r="18" cy="139.95215" cx="108.13397" stroke-width="5" stroke="#00e3b0" fill="none"/>
        <circle r="16" cy="100" cx="90" stroke-width="5" stroke="#00d1cf" fill="none"/>
        <circle r="14" rx="14" cy="60" cx="105" stroke-width="5" stroke="#0095e2" fill="none"/>
        <circle r="12" rx="12" cy="39.74874" cx="149.24623" stroke-width="5" stroke="#00c5e0" fill="none"/>
        <circle r="9" rx="10" cy="60" cx="194" stroke-width="5" stroke="#00dabf" fill="none"/>
        <circle r="8" rx="8" cy="94.97487" cx="209.74874" stroke-width="5" stroke="#00e7a7" fill="none"/>
        <circle r="7" rx="7" cy="133.69478" cx="199.85814" stroke-width="5" stroke="#00e9a3" fill="none"/>
    </svg>
</div>
